@model IEnumerable<IT_News.Models.News.NewsViewModel>

    @{
        ViewBag.Title = "GetAllNews";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>GetAllNews</h2>
    <p>@foreach (var news in Model)
       {
          @news.ShortDescription
       }
    </p>
