@model IEnumerable<IT_News.Models.ApplicationUser>

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>EditUser</h2>
    <table class="table table-bordered">
        <tr scope="row" class="table-active">
            <th>NameUser</th>
            <th>Delete</th>
            <th>Block</th>
            <th>Edit Role</th>

        </tr>
        @foreach (var user in Model)
        {
            <tr scope="row">

                <td>
                    <p>@user.UserName</p>
                </td>
                <td>
                    <p>@Html.ActionLink("Delete", "DeleteUser", "Account", new { userName = user.UserName }, null)</p>
                </td>
                <td>
                    <p>@Html.ActionLink("Block", "BlockUser", "Account", new { userId = user.Id }, null)</p>
                </td>
                <td>
                    <p>@Html.ActionLink("Edit Role", "Edit", "Role", new { userId = user.Id }, null)</p>
                </td>
            </tr>
        }
    </table>
</div>
