body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-left: 15px;
    margin-right: 15px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}
.nav {
    font-size: 20px;
    padding-top: 10px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    padding-left: 0px;
}
#heading {
    margin: 30px 0;
    padding-left: 20px;
}
.navbar-fixed-top {   
    height: 70px;
}
#tagsCloud {
    width: 500px;
}

h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Oswald', sans-serif;
    margin: 0;
    padding: 0 10px;
    color: darkblue;
}

A.tag1 {
    font-size: 0.7em;
    color: aquamarine;
}

A.tag2 {
    font-size: 0.85em;
    color: brown;
}

A.tag3 {
    font-size: 0.9em;
    color: antiquewhite;
}

A.tag4 {
    font-size: 1em;
    color: beige;
}

A.tag5 {
    font-size: 1.2em;
    color: blueviolet;
}

A.tag6 {
    font-size: 1.4em;
    color: darkblue;
}

A.tag7 {
    font-size: 1.7em;
    color: darkgreen;
}

A.tag8 {
    font-size: 2.0em;
    color: gold;
}

A.tag9 {
    font-size: 4.0em;
}

#htmlArea {
    max-width: 500px;
    max-height: 300px;
}
#text {
    max-width: 500px;
}

img {
    width: 95%;
}
#tagsCloud a{
    font-family: Arial;  
    /*position: relative !important;
    float: left;*/
    padding: 5px 3px;
    margin: 0 5px 5px 0;
}
#details {
    width: 30%;
    height: 30%;
    top: 10px;
    left: 300px;
    bottom: 400px;
    right: 0px;
}
.headerNews {
    text-align: center;
    font-size: 30px;
}
